* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

header {
    /* background-color: #A4121D; */
    background-image: linear-gradient(to bottom right, rgb(164, 18, 29), rgb(180, 23, 34));
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

header img {
    height: 40px;
    width: auto;
}

header .links {
    padding-top: 5px;
    display: flex;
    gap: 10px;
    font-size: .92rem;
}

header a {
    color: #ffffff;
    text-decoration: none;
}

body button:hover {
    cursor: pointer;
}

/* FIRST ROW */
#first_row {
    background-color: rgb(37, 40, 53);
    color: white;
}

#first_row_header h2 {
    letter-spacing: 0.04em;
    text-align: center;
    font-size: 28px;
    margin-bottom: 29px;
}

#first_row_content p {
    font-size: 18px;
    padding: 10px;
    line-height: 26px;
}

#first_row_wrapper {
    padding: 10px;
}

#iframe-div {
    border: none;
    padding: 10px;
    display: flex;
    justify-content: center;
}

video {
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 8px;
}

.join-button-container {
    text-align: center;
    margin-top: 18px;
}

#join-button {
    font-size: 20px;
    font-weight: 700;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #C00000;
    border-radius: 12px 12px 12px 12px;
    border: none;
    padding: 10px 20px 10px 20px;
}

.join-button-text {
    text-align: center;
    margin: 20px 0px -2px 0px;
}


.join-button-text p {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 4px;
}

/* FIRST ROW */

/* SECOND ROW */
#second_row {
    background-color: #000;
    padding: 0px 10px 10px 10px;
}

#second_row_wrapper {
    padding: 10px;
}

#second-row-header {
    text-align: center;
    box-sizing: border-box;
}

#second-row-header h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    line-height: 48px;
    margin-bottom: 10px;
}

#lessons_img {
    margin-bottom: 9px;
    display: flex;
    justify-content: center;
}

#lessons_img img {
    height: auto;
    max-width: 100%;
    border: none;
}

.second_row_content {
    padding: 10px 0px 10px 0px;
    text-align: center;
}

.second_row_content p {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

.join-riffhard-now {
    margin-bottom: 34px;
}

/* SECOND ROW */

/* THIRD ROW */

#third_row {
    background-color: rgb(37,40,53);
    color: white;
}

#third_row_wrapper {
    padding: 10px;
}

#third_row_header {
    text-align: center;
    margin-bottom: 20px;
}

#third_row_header h2 {
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
}

#livestream_img {
    padding: 10px;
    display: flex;
    justify-content: center;
}

#livestream_img img {
    height: auto;
    max-width: 100%;
    border: none;
    box-shadow: none;
}

.third_row_content {
    text-align: center;
    padding: 0px 9px 0px 9px;
}

.third_row_content p {
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
}

#third_row .join-button-container {
    margin-bottom: 45px;
}

/* THIRD ROW */

/* FOURTH ROW */

#fourth_row {
    background-color: #000;
    color: white;
}

#fourth_row_wrapper {
    padding: 10px;
}

#header_content_wrapper {
    padding: 10px;
}

#fourth_row_header {
    text-align: center;
    margin-bottom: 20px;
}

#fourth_row_header h2 {
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
}

#contest_img {
    display: flex;
    justify-content: center;
}

#contest_img img {
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
}

#fourth_row_content {
    text-align: center;
}

#fourth_row_content p {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}

#fourth_row .join-button-container {
    margin-bottom: 48px;
}

/* FOURTH ROW */

/* FIFTH ROW */

#fifth_row {
    background-color:rgb(37,40,53);
    color: white;
}

#fifth_row_wrapper {
    padding: 10px;
}

#fifth_row_header {
    padding: 10px;
    text-align: center;
}

#fifth_row_header h2 {
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
}

#member_review {
    display: flex;
    justify-content: center;
}

#member_review img {
    height: auto;
    max-width: 100%;
    border: none;
    border-radius: 0;
}

#fifth_row .join-button-container {
    padding: 10px;
    margin-bottom: 31px;
}

#join-button-footer {
    font-size: 24px;
    font-weight: 700;
    fill: #FFFFFF;
    color: #FFFFFF;
    background-color: #C00000;
    border-radius: 12px 12px 12px 12px;
    border: none;
    padding: 10px 20px 10px 20px;
}

/* FIFTH ROW */

footer {
    padding: 1.65rem;
    background-color: #101118;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .9rem
}

footer p {
    margin-bottom: .2rem;
}

footer a {
    text-decoration: none;
    color: #F84749;
}

.tos {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.urm {
    margin-bottom: 2rem;
}

/*  Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/*  Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #first_row_content {
        display: flex;
    }

    #iframe-div {
        width: 61.25%;
    }

    #first_row_content p {
        width: 38.75%;
    }

    .join-button-text p {
        margin-bottom: 2px;
    }

    #second_row {
        display: flex;
        justify-content: center;
    }

    #second_row_wrapper {
        max-width: 800px;
    }

    #third_row {
        display: flex;
        justify-content: center;
    }

    #third_row_wrapper {
        max-width: 1140px;
    }

    #livestream_img {
        max-width: 800px;
    }
}

/*  Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/*  X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    #first_row {
        display: flex;
        justify-content: center;
    }

    #first_row_wrapper {
        max-width: 1140px;
    }

    
}

/*  XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

}